h3,
p {
  margin: 5px 0;
}

#menu,
#order,
#filter {
  width: 30%;
  margin: 0 1.5% 0 1.5%;
  float: left;
}

#menu div,
#order div,
#filter div {
  margin-bottom: 15px;
}

p span {
  font-weight: 700;
}

select {
  width: 100%;
}